
:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --nav-color: #353430;
  --nav-hover-color: rgb(50 49 45 / 0.4);
  --section-heading-color: #353430;
  --main-heading-color: #353430;
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
  --header-theme-menu: 8px;
}


.theme-light .header_rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --main-bg-color: #fff1f7;
    --main-text-color: #353430;
    --nav-color: #353430;
    --nav-hover-color: rgb(50 49 45 / 0.4);
    --section-heading-color: #353430;
    --main-heading-color: #353430;
    --header-logo-color: #ffc2e6;
    --footer-logo-color: #ffc2e6;
    --header-theme-menu: 8px;
  }

.header_rec {
    display: none;
  }
}



