/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
block-size: 100%;
min-height: 100vh;
background-image: var(--bg-image);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  align-items: center;
  justify-items: end;
  padding: var(--main-gap);
}

.decorated-zone {
  position: relative;

}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
	block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  justify-self: end;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
	block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);

}

.header_rec {
  position: absolute;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: var(--main-text-size);
  line-height: 25px;
  justify-self: end;
  margin-inline: 29px;
  top: 10px;
  right: 10px;
}

.header_rec::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  margin-block-start: 7px;
  margin-inline-start: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: (0 0 4px 2px var(--accent-color));

}

.header__theme-menu {

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  list-style-type: none;
  font-size: var(--main-text-size);
}

.header__theme-menu-item {

}

.header__theme-menu-button {
  position: relative;
  display: block;
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid transparent;
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  text-transform: lowercase;
  cursor: pointer;
  padding: 0 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);

}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color);

}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
    content: '';
    position: absolute;
    inline-size: 100%;
    block-size: 1px;
    background-color: var(--nav-color);
    inset-block-end: -2px;
    inset-inline-start: 0;
  }


.header__logo {
  font-family: var(--main-font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);;
  font-weight: bold;
  line-height: 82.5%;
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  font-size: var(--main-text-size);
  font-weight: var(--bold-font-weight);
  color: var(--main-heading-color);
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.content {
  display: grid;
  margin-block-start: 40px;
  gap: 50px;

}

.text__paragrath {
  line-height: 23.4px;
}

.content-section {
  font-size: var(--main-text-size);
  font-style: normal;
  line-height: 23.4px;
  padding: 0 var(--main-gap);
}
.title-decor {
  display: block;
  inline-size: 100%;
  block-size: fit-content;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  font-size: var(--main-text-size);
  font-family: var(--main-font-family);
  font-weight: bold;
}

.content-section__title {
  font-size: var(--main-text-size);
  color: var(--accent-color);
  font-weight: 700;
  justify-self: center;
  margin-bottom: 20px;
}

.text-blocks {
display: grid;
gap: 20px;
}


.text-block {
  display: grid;
  gap: 10px;
}

.text-block__title {
  font-weight: 700;
}


.text-block__content {
  color: var(--main-text-color);
  font-size: var(--main-text-size);

}

.text-block__list {

}

.text-block__subtitle {
  font-weight: 400;
  margin-bottom: 10px;

}

.text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.gallery {
display: grid;
grid-template-rows: 1fr;
gap: 10px;
padding: 7px 10px;
margin-block-start: 50px;

}

.gallery-title {

}

img {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;

}

.footer {
  margin-block-start: 40px;
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-family: var(--main-font-family, monospace);
  font-weight: bold;
  line-height: 83%;
  color: var(--footer-logo-color);
  text-transform: lowercase;
  text-shadow: 2px 2px 0 rgba(255, 0, 112, 1);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
