/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
background-image: var(--bg-image);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  gap: 10px;
  block-size: 100vh;
}

.decorated-zone {

}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
	block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  justify-self: end;
  margin-block: 2px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
	block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.header_rec {
  position: absolute;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: var(--main-text-size);
  line-height: 25px;
  justify-self: end;
  margin-inline: 29px;
  margin-block: 2px;
}

.header_rec::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  margin-block-start: 7px;
  margin-inline-start: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: (0 0 4px 2px var(--accent-color));
}

.header__theme-menu {
  justify-self: end;
  margin-top: 52px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  list-style-type: none;

}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--nav-color);
  font-size: var(--main-text-size);
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
	cursor: pointer;

}

.header__theme-menu-button:focus {
	outline: none;
}

.header__theme-menu-button:focus-visible {
	border-block-end: 1px solid var(--accent-color);
}

.header__logo {
  font-family: var(--main-font-family);
  font-size: 116px;
  font-weight: bold;
  line-height: 82.5%;
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  min-inline-size: 355px;
  min-block-size: 117px;
  inline-size: 100%;
}

.text__paragrath {
  line-height: 23.4px;
}

.title-decor {
  display: block;
  inline-size: 100%;
  block-size: fit-content;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  font-size: var(--main-text-size);
  font-weight: bold;

}

.content-section__title {
  color: var(--accent-color);

}

.text-block__content {
  color: var(--main-text-color);
  font-size: var(--main-text-size);
}
